autom4te.cache
build/*
# after ".configure"
Makefile
caves/Makefile
config.h
config.log
config.status
docs/Makefile
include/.deps/
include/Makefile
music/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
shaders/Makefile
sound/Makefile
src/.deps/
src/Makefile
src/cave/.deps/
src/cave/helper/.deps/
src/cave/object/.deps/
src/editor/.deps/
src/fileops/.deps/
src/framework/.deps/
src/gfx/.deps/
src/gtk/.deps/
src/input/.deps/
src/misc/.deps/
src/sdl/.deps/
src/sound/.deps/
stamp-h1
# after "make" (untracked)
configure~
include/files2c-files2c.o
include/files2c.exe
src/**/*.o
src/**/*.dirstamp
#
# edit with visual studio
/.vs/gdash-export-Crli/
/.vs/slnx.*
/.vs/VSWorkspaceState.json
# startup item
# src/gdash.exe
